.donut-chart-amount {
    border-radius: 6px;
    padding: 0.2em 0.5em;

}

h3 {
    font-size: 16px;
}

.donut-wrap {
    box-shadow: 0 7px 64px 0 rgba(19, 36, 78, 0.07);
    padding: 2em;
}

.dropdown-btn {
    background: rgba(77, 213, 153, 0.2);
    color: #1fab89;
}

.redcolor {
    color: #1fab89;
    background-color: rgba(31, 171, 137, 0.2);
}

.greencolor {
    color: #512c62;
    background-color: rgba(81, 44, 98, 0.2);
}